/*General css*/
body.platform {
  background-color: $background-color;
}

* {
  box-sizing: border-box;
}

div.container {
  width: 80%;
}

/*FLex layout*/
.row.flex {
  display: flex;
  flex-wrap: wrap;
}


