/*Notices and go-back*/
.go-back, .message {
  a {
    color: $unihelp-brown;
  }
  i {
    cursor: pointer;
    span {
      font-family: Raleway;

    }
  }
  .padding {
    padding: 7.5px;
  }
  &:hover{
  a{
    color: $theme-color;
  }
}
}

.message {
  color: $unihelp-white !important;
  background: $theme-color !important;
}
