table.assessment {
  width: 100%;
  td, th {
    padding: 7.5px;
    text-align: center;
  }
  th {
    text-align: left;
  }
  td {
    height: 30px;
    width: 120px;
    line-height: 3;
    position: relative;
    border: solid 0.5px #dfdfdf;
    input {
      height: 30px;
      width: 120px;
    }
    img {
      width: 32px;
      height: 32px;
      float: right;
      margin: 5px 32px 0px 0px;

    }
    input {
      border: none;
      background: transparent;
      text-align: center;
    }
    &:hover {
      cursor: pointer;
    }
    &.left {
      -webkit-box-shadow: 10px 0 5px -2px #888;
      box-shadow: 5px 0px 10px -10px $unihelp-asphalt;
      padding: 0px;
      margin-right: 10px;
    }
    span.more {
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 12px solid $theme-color;
      border-left: 12px solid transparent;
      &:hover {
        border-top: 12px solid $unihelp-asphalt;
      }
    }
  }

  td.left, th.left {
    //background: red;
    width: 220px;
    margin-top: 15px;
    text-align: left;
    padding-left: 10px;
    -webkit-box-shadow: 10px 0 5px -2px #888;
    box-shadow: 5px 0px 10px -10px $unihelp-asphalt;
    margin-right: 10px;
  }

  tr {
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
    &.selected, &:hover {
      background: $theme-color;
      color: $unihelp-white;
      span.more {
        border-top: 12px solid $unihelp-asphalt;
      }
    }
    &.heading {
      background: $unihelp-white;
    }
  }

  /*Input spinner verbergen*/
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

}

#assessment-modal {
  textarea {
    max-width: 95%;
    min-width: 95%;
    margin: 2.5%;
    height: 10em;
    max-height: 10em;
  }
}

.large-th, .mid-th, .skill-th {
  font-family: Raleway;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
}

.large-th {
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  margin: 2% 0 2% 0;
}

.mid-th {
  font-size: 12px;
  font-weight: 500;
  color: #4d6a50;
}

.skill-th {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center !important;
  color: #4d6a50;
}

.assessment-overview{
  width: 100%;
  background-color: #f4f4f4;
  td{
    padding: 10px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1500px) {
  table.assessment {
    td, th {
      width: 10% !important;
      line-height: 1;
      padding: 1%;
      input{
        width: 100%!important;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  table.assessment {
    td, th {
      img{
        display: none;
      }
    }
  }
}