.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 1em;
  &:after {
    content: '\02795';
    font-size: 13px;
    color: $theme-color;
    float: right;
    margin-left: 5px;
  }
  &:hover, &.active {
    background-color: $theme-color;
    color: $unihelp-white;
  }
  &.active{
    &:after {
      content: "\2796";
    }
  }
}

.panel {
  padding: 15px;
  background-color: white;
  display: none;
  overflow: hidden;
}

