/*Auth pages*/
.auth-page, .message-page {
  background-image: url("/img/backgrounds/doodles.png");
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  .logo {
    width: 32px;
    display: block;
    margin: 5% auto;
  }
  .auth-box {
    background: $unihelp-white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    input[type=text], input[type=password] {
      height: 50px !important;
    }
    h3, h4, a, p {
      text-align: left !important;
    }
    h4 {
      color: $unihelp-asphalt;
      text-align: center
    }
    label.remember {
      font-size: 12px !important;
      line-height: 18px;
    }

    footer {
      height: 60px;
      line-height: 60px;
      background: #f3f3f3;
      text-align: center;
      a {
        color: $theme-color !important;
        &:hover {
          color: $unihelp-asphalt;
        }
      }
    }
    &.error {
      min-height: 200px;
      h4, a {
        text-align: center !important;
      }
    }

  }
  .progress-box {
    background: $theme-color;
    padding: 0;
    width: 100%;
    position: inherit;
    left: 0;
    top: 0;
    /*steps bar*/
    ul#progressbar {
      overflow: hidden;
      padding: 10px;
      margin-bottom: 0;
      /*CSS counters to number the steps*/
      counter-reset: step;
      padding-left: 0;
      width: 100%;
      li {
        list-style-type: none;
        width: 33%;
        height: 50px;
        float: left;
        position: relative;
        text-align: center;
        //box with title*/
        &:before {
          position: relative;
          /*html data-title*/
          content: attr(data-title);
          counter-increment: step;
          line-height: 50px;
          display: block;
          color: white;
          margin: 0 auto 5px auto;
          background: #f3f3f3;
          height: 50px;
          width: 75%;
          z-index: 10;
        }
        /*lijn tussen boxes*/
        &:after {
          content: '';
          width: 100%;
          height: 4px;
          background: $unihelp-asphalt;
          position: absolute;
          left: -50%;
          top: 55%;
          z-index: 1;
        }
        span{
          z-index: 999;
          color: red;
        }
        /*Geen connector nodig voor stap 1*/
        &:first-child:after {
          content: none;
        }
        &.active {
          &:before {
            background: $unihelp-asphalt;
          }
        }
      }
    }
  }
}