/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*Mixins*/
@import "../../mixin/link";

//geïnspireerd op: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* checkboxes */
.checkbox-label {
  margin-bottom: 2%;
}

.checkbox-label input {
  display: none;
}

.checkbox-label span {
  height: 12px;
  width: 12px;
  padding: 2%;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}

.checkbox-label [type=checkbox]:checked + span:before {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  top: -5px;
  left: 0;
  color: $download-button;
}

/* select boxes */
.textdiv {
  input {
    background: transparent;
    padding: 5px 35px 5px 5px;
    border: 1px solid #ccc;
    height: 34px;
    width: 100%;
  }
}

.selectdiv {
  position: relative;
  select, input {
    background: transparent;
    padding: 5px 35px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::after {
    content: "\f078";
    font: 17px FontAwesome;
    color: $theme-color;
    right: 11px;
    top: 32px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }
}

label, select {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #505457;
}



/* Checkboxes */

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  /* Checkbox verbergen */
  input {
    position: absolute;
    opacity: 0;
  }
}

/* Nieuwe checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: $theme-color;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Vinke tonen */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Vinkje stylen */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Multistep form */

#msform fieldset {
  border: 0 none;
  border-radius: 3px;
  box-sizing: border-box;
  //fieldsets op elkaar stacken
  position: relative;
}

/* Alle steps hiden, behalve de eerste */

#msform fieldset:not(:first-of-type) {
  display: none;
}

/* Voortgang */

#progressbar {
  overflow: hidden;
  padding: 8px 15px;
  padding-bottom: 0;
  counter-reset: step;
  padding-left: 0;
  li {
    list-style-type: none;
    width: 25%;
    height: 50px;
    float: left;
    position: relative;
    text-align: center;
    &:before {
      position: relative;
      content: attr(data-title);
      counter-increment: step;
      line-height: 50px;
      display: block;
      color: white;
      margin: 0 auto 5px auto;
      background: $grey;
      height: 50px;
      width: 75%;
      z-index: 10;
    }
    &:after {
      content: '';
      width: 100%;
      height: 10px;
      background: $grey;
      position: absolute;
      left: -50%;
      top: 35%;
      z-index: 1;
    }
    &:first-child:after {
      content: none;
    }
  }
}

/* Actieve en voltooide stappen groen kleuren */
#progressbar li.active:before, #progressbar li.active:after {
  background: $theme-color;
  color: white;
}

/* Forms */
.form-group {
  margin-bottom: 20px !important;
  display: block;
}

input:focus, .form-control:focus {
  box-shadow: none;
}

form input, form textarea {
  border-radius: 0 !important;
}

form textarea {
  max-width: 100%;
  min-width: 100%;
}

form input, form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 13px;
}

form input[type=submit] {
  padding: 0;
}

form label {
  float: left;
  margin-bottom: 5px;
}


/* Slider balk input */

.sliderdiv {
  input[type=range] {
    -webkit-appearance: none; /* Standaard lider verbergen */
    width: 100%;
    background: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 1px 1px 1px $theme-color, 0px 0px 1px transparent;
    border: none;
    height: 24px;
    width: 10px;
    border-radius: 0px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -10px;
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px $theme-color, 0px 0px 1px transparent;
    border: none !important;
    height: 24px;
    width: 10px;
    border-radius: 0px !important;
    background: #ffffff;
    cursor: pointer;
  }

  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: none !important;
    height: 24px;
    width: 10px;
    border-radius: 0px !important;
    background: #ffffff;
    cursor: pointer;
  }

  input[type=range]:focus {
    outline: none; /* Doet border weg */
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hide standaard slider */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: $theme-color;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $theme-color;
  }

  input[type=range]::-moz-range-track {
    height: 10px;
    cursor: pointer;
    background: $theme-color;
    border-radius: 0px;
    border: none;
  }

  input[type=range]::-ms-track {
    height: 10px;
    cursor: pointer;
    background: $theme-color;
    border-radius: 0px;
    border: none;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $theme-color;
    border: none;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $theme-color;
  }
  input[type=range]::-ms-fill-upper {
    background: $theme-color;
    border: none;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $theme-color;
  }
}

/* Select2 overrides*/
.select2-selection {
  border-radius: 0 !important;
  height: auto;
  padding: 10px 10px 0 10px !important;
}

.select2-selection__choice {
  background-color: $theme-color !important;
  text-align: center;
  padding: 5px !important;
  color: $unihelp-white !important;
  border: none !important;
  border-radius: 0 !important;
  height: 30px;
  span {
    margin-right: 5px !important;
  }
}

.select2-dropdown {
  border-radius: 0 !important;
}

.select2-results__option--highlighted {
  background: $theme-color !important;
}

