@import url(https://fonts.googleapis.com/css?family=Raleway);/*FONTS*/

/*Mixins*/

/*Variables*/

/*General*/

* {
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
* html .clearfix {
  height: 1%;
}
*/

body {
  overflow-x: hidden;
  max-width: 2000px;
  margin: 0 auto;
}

.container {
  width: 85% !important;
}

/*Fonts*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Raleway;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span,
p span {
  color: #4D6A50;
}

h1,
h2,
h3 {
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-top: 0;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  line-height: 1.3;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

h4,
h5 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

h5 {
  font-size: 18px;
}

p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

label,
select {
  /*font-family: HelveticaNeue;*/
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #505457;
}

label {
  margin-bottom: 5px;
}

/*Links*/

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/*Helpers*/

.clearfix {
  display: inline-block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.bold {
  font-weight: bold;
}

.green {
  color: #4D6A50;
}

.no-margin {
  margin: 0 !important;
}

no-margin-top {
  margin-top: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/*Helpers*/

.padding {
  padding: 15px;
}

.small {
  font-size: 12px;
  color: #505457;
}

.row.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vertical-center {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.round-img {
  border-radius: 100%;
}

/*Buttons*/

.action-button,
.form-button,
.download-button,
#login-page .login-box .action-button.login,
#login-page .login-box .action-button.register,
#login-page .login-box .action-button.next,
#login-page .login-box .action-button.previous,
#login-page .login-box .action-button.finish {
  height: 40px;
  line-height: 1em;
  background-color: #ffffff;
  display: inline-block;
  border: none;
}

.action-button.register,
.register.form-button,
.register.download-button,
#login-page .login-box .register.action-button {
  background: #4D6A50;
  color: #ffffff;
}

.action-button.register:hover,
.register.form-button:hover,
.register.download-button:hover,
#login-page .login-box .register.action-button:hover {
  background: #ffffff !important;
  color: #4D6A50 !important;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.action-button.login:hover,
.login.form-button:hover,
.login.download-button:hover,
#login-page .login-box .login.action-button:hover {
  background: #4D6A50;
  color: #ffffff !important;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.form-button {
  background: #4D6A50;
}

.download-button {
  background: #8A7E72;
  color: #ffffff;
  border: none;
  text-align: center;
  line-height: 40px;
  float: right;
  margin: 3% 0 3% 0;
}

.download-button {
  color: white;
}

.download-button:visited {
  color: white;
}

.download-button:hover {
  color: white;
}

.download-button:active,
.download-button:focus {
  color: white;
}

.download-button a,
.download-button a:hover {
  cursor: pointer;
}

.download-button a,
.download-button a:hover {
  color: white;
}

.download-button a:visited,
.download-button a:hover:visited {
  color: white;
}

.download-button a:hover,
.download-button a:hover:hover {
  color: white;
}

.download-button a:active,
.download-button a:focus,
.download-button a:hover:active,
.download-button a:hover:focus {
  color: white;
}

.download-button:hover {
  background: #4D6A50;
}

/*Navigation*/

#page-header,
#platform-header {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  padding: 1%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
}

#page-header img.logo,
#platform-header img.logo {
  width: 36px;
  height: 36px;
}

#platform-header {
  padding: 1% 0 1% 0;
}

.slicknav_menu {
  display: none;
}

#page-header {
  -webkit-transition: 1s ease all;
  transition: 1s ease all;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-box-shadow: 0px 1px 0px 0.25px #4D6A50;
          box-shadow: 0px 1px 0px 0.25px #4D6A50;
}

#page-header a,
#page-header a:hover {
  color: #000000;
  text-decoration: none;
}

#page-header .links {
  float: right;
  list-style-type: none;
  text-align: right;
}

#page-header .links li {
  display: inline-block;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  line-height: .5em;
  text-align: center;
  cursor: pointer;
}

#page-header .links li:hover {
  background: lightgray;
  opacity: 0.75;
}

#page-header .links li.register {
  background: #4D6A50;
  color: #ffffff;
}

#page-header .links li.register:hover {
  opacity: 0.9;
}

#page-header.large {
  height: auto;
}

#page-header.small {
  height: 4.5em !important;
  padding: 5px !important;
}

.breadcrumb-banner {
  height: 35vh;
  position: relative;
}

.breadcrumb-banner .background-image {
  background-image: url("/img/backgrounds/alexis-brown-82988.jpg");
  background-size: cover;
  background-position: center;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 1;
}

.breadcrumb-banner .inner-content {
  z-index: 2;
}

.breadcrumb-banner .inner-content h1 {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px #333a40;
}

/*Mobile navigation*/

.hamburger,
.cross {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1em;
  padding: 5px 15px 0px 15px;
  color: #4D6A50;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.cross {
  font-size: 4em;
}

/*Home banner*/

#page-banner {
  height: 90vh;
  margin-bottom: 5%;
  background-image: url("/img/backgrounds/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 1px 3px 0px #000000;
          box-shadow: 0px 1px 3px 0px #000000;
}

#page-banner #welcome {
  color: #ffffff;
  text-align: center;
  top: 80%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

#page-banner #welcome h1,
#page-banner #welcome h3 {
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 2px #4d6a50;
}

#page-banner #welcome .buttons {
  display: block;
  margin: 3.5% 0 auto;
}

#page-banner #welcome .buttons .register {
  margin-bottom: 2em;
}

#page-banner #welcome .buttons .login {
  color: #4D6A50;
  margin-bottom: 2em;
}

#page-banner .scroll {
  position: absolute;
  top: 102%;
  left: 49%;
  -webkit-transform: translate(-50%, -105%);
  transform: translate(-50%, -105%);
  height: 48px;
  width: 48px;
  text-align: center;
  border-radius: 100%;
  background: #4D6A50;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

#page-banner .scroll .glyphicon {
  line-height: 48px;
}

#how-it-works h1 {
  text-align: center;
}

#how-it-works p {
  margin-top: 30px;
}

#how-it-works .title {
  text-align: center;
}

#how-it-works .items {
  margin: 2% 0 2% 0;
}

#how-it-works .items .item {
  margin: 5% 0 5% 0;
}

#how-it-works .items .item img {
  height: 300px;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

#gallery {
  margin: 2em 0 2em 0;
}

#gallery .box {
  cursor: pointer;
  margin-bottom: 10px;
  height: 185px;
}

#gallery .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#gallery .box:hover {
  opacity: 0.8;
}

#gallery .full-image {
  height: 770px;
}

#gallery .full-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: galerij-animatie 1s linear 1;
          animation: galerij-animatie 1s linear 1;
}

@-webkit-keyframes galerij-animatie {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

@keyframes galerij-animatie {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.call-to-action {
  background: #4D6A50;
  color: #ffffff;
  padding: 2%;
  height: 200px;
}

.call-to-action h2 {
  text-align: center;
  color: #ffffff;
}

.call-to-action button {
  background-color: #ffffff !important;
  color: #4D6A50 !important;
  margin-bottom: 1em;
}

.call-to-action button:hover {
  background: lightgray !important;
  color: #4D6A50 !important;
}

/*About*/

#about-banner {
  background: #4D6A50;
  padding: 2%;
  color: #ffffff;
}

#about-banner h1 {
  text-align: center;
  margin-bottom: 2%;
  color: #ffffff;
}

#about-banner p {
  text-align: justify;
  color: #ffffff;
}

#about-quote {
  height: 650px;
  background-image: url("/img/backgrounds/rawpixel-com-250087.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
  padding: 0;
}

#about-quote .quote {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 1px 1px #4D6A50;
}

#about-quote h1 {
  color: #ffffff;
  text-align: center;
}

.about-person {
  margin: 10% 0;
}

.about-person h3 {
  color: #4D6A50;
}

.about-person h4 {
  color: #000000;
}

.about-person .left {
  text-align: right;
}

.about-person img {
  position: relative;
  width: 10em;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5.5% auto;
  display: block;
  top: 55%;
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
}

/*Login + register*/

#login-page {
  height: 100vh;
  background: url("/img/backgrounds/login-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Register*/
}

#login-page h3 {
  color: #4D6A50;
}

#login-page h3,
#login-page p {
  text-align: center;
}

#login-page img {
  width: 25%;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

#login-page .login-box {
  width: 35em;
  max-width: 100%;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: 52%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000000;
}

#login-page .login-box .login-problem p {
  text-align: center !important;
}

#login-page .login-box header,
#login-page .login-box .box,
#login-page .login-box footer {
  padding: 24px 50px 36px;
}

#login-page .login-box header,
#login-page .login-box footer {
  text-align: center;
}

#login-page .login-box .box {
  padding-top: 0;
}

#login-page .login-box footer {
  background: #eee;
  color: #000000;
  text-transform: uppercase;
}

#login-page .login-box div.form-group {
  padding-left: 0;
  padding-right: 0;
}

#login-page .login-box .login.form-button,
#login-page .login-box .login.download-button,
#login-page .login-box .login.action-button,
#login-page .login-box .register.form-button,
#login-page .login-box .register.download-button,
#login-page .login-box .register.action-button,
#login-page .login-box .next.form-button,
#login-page .login-box .next.download-button,
#login-page .login-box .next.action-button,
#login-page .login-box .previous.form-button,
#login-page .login-box .previous.download-button,
#login-page .login-box .previous.action-button,
#login-page .login-box .finish.form-button,
#login-page .login-box .finish.download-button,
#login-page .login-box .finish.action-button {
  background: #4D6A50;
  width: 100%;
  padding: 2%;
  text-transform: uppercase;
  margin-bottom: 2%;
  color: #ffffff;
}

#login-page .action-button.register,
#login-page .register.form-button,
#login-page .register.download-button,
#login-page .login-box .register.action-button {
  background: transparent;
  border: 2px solid #4D6A50;
  color: #000000;
}

#login-page .action-button.register:hover,
#login-page .register.form-button:hover,
#login-page .register.download-button:hover {
  background: #4D6A50;
  color: #ffffff;
  -webkit-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

#login-page .account-img {
  width: 10rem;
  height: 10rem;
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#login-page .profile-img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#login-page .profile-img-container img {
  width: 128px;
  height: 128px;
}

#login-page .profile-img-container a,
#login-page .profile-img-container #picture-input {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  color: inherit;
  color: #4D6A50;
  font-size: 0.5em;
  cursor: pointer;
}

#login-page .profile-img-container:hover a {
  opacity: 1;
  top: 0;
  z-index: 500;
}

#login-page .profile-img-container:hover a span {
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#login-page .profile-img-container #picture-input {
  z-index: 999;
  width: 30rem;
}

#login-page .page-error h1,
#login-page .page-error h3,
#login-page .page-error h4,
#login-page .page-error p,
#login-page .page-error a {
  text-align: center !important;
}

#login-page .page-error h3 {
  color: #4D6A50;
}

#login-page .page-error a,
#login-page .page-error p {
  text-align: center !important;
  cursor: pointer;
}

#login-page .page-error a,
#login-page .page-error p {
  color: black;
}

#login-page .page-error a:visited,
#login-page .page-error p:visited {
  color: black;
}

#login-page .page-error a:hover,
#login-page .page-error p:hover {
  color: black;
}

#login-page .page-error a:active,
#login-page .page-error a:focus,
#login-page .page-error p:active,
#login-page .page-error p:focus {
  color: black;
}

.auth-box {
  min-height: 350px;
  height: auto;
  margin: auto;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.auth-box input[type=text],
.auth-box input[type=password],
.auth-box input[type=submit] {
  height: 50px !important;
}

.auth-box h3,
.auth-box h4 {
  text-align: left !important;
}

.auth-box h4 {
  color: #333a40;
  text-align: center;
}

.auth-box .login {
  background: #4D6A50;
  color: #ffffff;
}

.auth-box .login:hover {
  background: #2b2f33;
}

.auth-box .reg {
  background: #8A7E72;
  color: #ffffff;
}

.auth-box .canvas {
  background: #2b2f33;
  color: #ffffff;
}

.auth-box footer {
  height: 60px;
  line-height: 60px;
  background: #f3f3f3;
}

/*Footer*/

footer {
  clear: both;
  /*Override default mce css*/
}

footer .top,
footer .bottom {
  position: relative;
  text-align: left;
  display: block;
}

footer .top .container,
footer .bottom .container {
  position: absolute;
  top: 50%;
  left: 7.5%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

footer .top {
  height: 200px;
  background: #333a40;
}

footer .top p {
  font-size: 16px;
  color: #ffffff;
}

footer .bottom {
  height: 85px;
  background: #2b2f33;
}

footer .bottom p {
  font-size: 14px;
  color: #ffffff;
}

footer a {
  cursor: pointer;
}

footer a {
  color: white;
}

footer a:visited {
  color: white;
}

footer a:hover {
  color: white;
}

footer a:active,
footer a:focus {
  color: white;
}

footer #mce-EMAIL {
  width: 60% !important;
  float: left !important;
  border: none !important;
  background-color: #505457 !important;
  color: #ffffff !important;
}

footer #mc-embedded-subscribe {
  width: 35% !important;
  margin-left: 2.5% !important;
  float: left !important;
  text-align: center !important;
  background: #4D6A50 !important;
}

.cookie-consent {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background: #4D6A50;
  padding: 15px;
  color: #ffffff;
}

.cookie-consent button {
  color: #4D6A50;
  border: 1px solid transparent;
  border-radius: 0 !important;
  margin-top: 1em;
  padding: 5px;
}

.cookie-consent button:hover {
  cursor: pointer;
  background: #4D6A50;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #ffffff;
}

/*Custom checkboxes*/

.checkbox-label {
  margin-bottom: 2%;
}

.checkbox-label input {
  display: none;
}

.checkbox-label span {
  height: 12px;
  width: 12px;
  padding: 2%;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}

.checkbox-label [type=checkbox]:checked + span:before {
  content: '\F00C';
  font-family: FontAwesome;
  position: absolute;
  top: -5px;
  left: 0;
  color: #505457;
}

/*custom select box*/

.textdiv input {
  background: transparent;
  padding: 5px 35px 5px 5px;
  border: 1px solid #ccc;
  height: 34px;
  width: 100%;
}

.selectdiv {
  position: relative;
}

.selectdiv select,
.selectdiv input {
  background: transparent;
  padding: 5px 35px 5px 5px;
  border: 1px solid #ccc;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectdiv::after {
  content: "\F078";
  font: 17px FontAwesome;
  color: #4D6A50;
  right: 11px;
  top: 32px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}

.sliderdiv input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

.sliderdiv input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-box-shadow: 1px 1px 1px #4D6A50, 0px 0px 1px transparent;
          box-shadow: 1px 1px 1px #4D6A50, 0px 0px 1px transparent;
  border: none;
  height: 24px;
  width: 10px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.sliderdiv input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #4D6A50, 0px 0px 1px transparent;
  border: none !important;
  height: 24px;
  width: 10px;
  border-radius: 0px !important;
  background: #ffffff;
  cursor: pointer;
}

.sliderdiv input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: none !important;
  height: 24px;
  width: 10px;
  border-radius: 0px !important;
  background: #ffffff;
  cursor: pointer;
}

.sliderdiv input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.sliderdiv input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.sliderdiv input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4D6A50;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.sliderdiv input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4D6A50;
}

.sliderdiv input[type=range]::-moz-range-track {
  height: 10px;
  cursor: pointer;
  background: #4D6A50;
  border-radius: 0px;
  border: none;
}

.sliderdiv input[type=range]::-ms-track {
  height: 10px;
  cursor: pointer;
  background: #4D6A50;
  border-radius: 0px;
  border: none;
  color: transparent;
}

.sliderdiv input[type=range]::-ms-fill-lower {
  background: #4D6A50;
  border: none;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.sliderdiv input[type=range]:focus::-ms-fill-lower {
  background: #4D6A50;
}

.sliderdiv input[type=range]::-ms-fill-upper {
  background: #4D6A50;
  border: none;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.sliderdiv input[type=range]:focus::-ms-fill-upper {
  background: #4D6A50;
}

/*Custom checkboxes*/

/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  /* Hide the browser's default checkbox */
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked ~ .checkmark {
  background-color: #4D6A50;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Multistep form*/

#msform fieldset {
  border: 0 none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*fieldsets op elkaar stacken*/
  position: relative;
}

/*Alle steps hiden, behalve de eerste*/

#msform fieldset:not(:first-of-type) {
  display: none;
}

/*steps bar*/

#progressbar {
  overflow: hidden;
  padding: 8px 15px;
  padding-bottom: 0;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding-left: 0;
}

#progressbar li {
  list-style-type: none;
  width: 25%;
  height: 50px;
  float: left;
  position: relative;
  text-align: center;
  /*lijn tussen boxes*/
  /*Geen connector nodig voor stap 1*/
}

#progressbar li:before {
  position: relative;
  /*html data-title*/
  content: attr(data-title);
  counter-increment: step;
  line-height: 50px;
  display: block;
  color: white;
  margin: 0 auto 5px auto;
  background: #505457;
  height: 50px;
  width: 75%;
  z-index: 10;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #505457;
  position: absolute;
  left: -50%;
  top: 35%;
  z-index: 1;
}

#progressbar li:first-child:after {
  content: none;
}

/*Actieve en voltooide stappen groen kleuren*/

#progressbar li.active:before,
#progressbar li.active:after {
  background: #4D6A50;
  color: white;
}

/*Forms*/

.form-group {
  margin-bottom: 20px !important;
  display: block;
}

input:focus,
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

form input,
form textarea {
  border-radius: 0 !important;
}

form textarea {
  max-width: 100%;
  min-width: 100%;
}

form.register .form-group {
  margin-bottom: 7.5%;
}

@media only screen and (max-width: 1500px) {
  footer .top {
    min-height: 15em;
    height: auto;
  }

  footer .bottom {
    /*height: 12em;*/
  }
}

@media only screen and (max-width: 1200px) {
  footer .top {
    min-height: 25em;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  #page-banner,
  #about-banner {
    margin-top: 48px;
  }

  /*responsive menu*/

  #page-header {
    height: auto;
  }

  #page-header .hamburger {
    display: block;
  }

  #page-header .links {
    margin-top: -2.85em;
    padding-left: 0;
    background: white;
  }

  #page-header .links li {
    width: 100%;
    height: 3em;
    margin: 0 !important;
    text-align: center;
    line-height: 2em;
  }

  /* #slicknav menu */

  #menu > li,
  #menu > a {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }

  .slicknav_menu {
    display: none;
  }

  .slicknav_nav {
    width: 100%;
  }

  .slicknav_menu {
    display: block;
    min-height: 3em;
  }

  #page-banner {
    margin-top: 0;
    height: 85vh;
  }

  #page-banner #welcome {
    top: 65%;
  }

  #page-banner .scroll {
    top: 105%;
  }

  .what .items .item .left img,
  .what .items .item .right img {
    width: 100%;
    margin-left: 0;
  }

  #how-it-works .item .right,
  #how-it-works .item .left {
    padding: 0;
  }

  #how-it-works .item h2 {
    word-wrap: break-all;
  }

  #how-it-works .item p {
    text-align: justify;
    word-wrap: break-word;
  }

  #about-quote h1 {
    text-align: center;
  }

  .about-person .right {
    margin-top: 1em;
  }

  .about-person h3,
  .about-person h4,
  .about-person p {
    text-align: center;
  }

  #how-it-works .items .item img {
    width: 100%;
  }

  .call-to-action {
    height: auto;
  }

  footer .top {
    min-height: 30em;
    height: auto;
  }

  footer .bottom {
    height: 12em;
  }
}

@media only screen and (max-width: 480px) {
  .call-to-action {
    min-height: 250px;
  }

  footer .top {
    min-height: 35em;
  }

  footer #mce-EMAIL {
    width: 100% !important;
    float: left !important;
    border: none !important;
    background-color: #505457 !important;
    color: #ffffff !important;
  }

  footer #mc-embedded-subscribe {
    width: 100% !important;
    margin-left: 0 !important;
    float: left !important;
    text-align: center !important;
    background: #4D6A50 !important;
  }
}

