/*Imports*/

/*General css*/

body.platform {
  background-color: rgba(181, 212, 183, 0.14);
  /*tinymce ads*/
}

body.platform * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.platform #mceu_31,
body.platform #mceu_33,
body.platform #mceu_62,
body.platform .mce-notification {
  display: none;
}

/*Helpers*/

.padding {
  padding: 2%;
}

/*Buttons*/

.download-button,
button.download,
a.download,
input.next,
input.previous {
  padding: 1%;
  background: #505457;
  color: #FFFFFF;
  border: none;
  float: right;
  margin-left: 2%;
  text-align: center;
}

.download-button a,
button.download a,
a.download a,
input.next a,
input.previous a {
  cursor: pointer;
}

.download-button a,
button.download a,
a.download a,
input.next a,
input.previous a {
  color: white;
}

.download-button a:visited,
button.download a:visited,
a.download a:visited,
input.next a:visited,
input.previous a:visited {
  color: white;
}

.download-button a:hover,
button.download a:hover,
a.download a:hover,
input.next a:hover,
input.previous a:hover {
  color: white;
}

.download-button a:active,
button.download a:active,
a.download a:active,
input.next a:active,
input.previous a:active,
.download-button a:focus,
button.download a:focus,
a.download a:focus,
input.next a:focus,
input.previous a:focus {
  color: white;
}

button.download,
a.download,
input.next,
input.previous {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}

/*Header*/

#platform_header {
  background-color: #4D6A50;
}

#platform_header .sub {
  display: none;
  list-style-type: none;
  text-align: center;
  background: #4D6A50;
  padding: 0;
  color: #ffffff;
}

#platform_header .sub li {
  display: inline-block;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  line-height: .5em;
}

#platform_header .sub li:hover {
  background: lightgray;
  opacity: 0.75;
  cursor: pointer;
}

#platform_header .sub li.register {
  background: #4D6A50;
  color: #FFFFFF;
  /*margin-left: 4%;*/
}

#platform_header .sub li.register:hover {
  opacity: 0.9;
}

#platform_header .sub li a {
  color: #ffffff;
}

#platform_menu {
  height: 3em;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 1px 5px #888888;
          box-shadow: 2px 1px 5px #888888;
}

#platform_menu .pages {
  padding-left: 1%;
  display: inline-block;
  height: 3em;
}

#platform_menu .pages li {
  display: inline-block;
  line-height: 3em;
  margin-right: 2%;
}

.hamburger {
  color: #FFFFFF;
  left: 0;
  display: none;
}

.cross {
  color: #FFFFFF;
  left: 0;
  display: none;
}

/*Menu*/

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  float: right;
  position: relative;
}

.account .account_img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #FFFFFF;
  -o-object-fit: cover;
     object-fit: cover;
}

.account .account_username {
  margin-left: 8px;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.account .account_dropdown_btn {
  width: 10px;
  height: 6px;
  margin-top: 2px;
  fill: #FFFFFF;
  opacity: 0.5;
}

.account .dropdown-content {
  position: absolute;
  display: none;
  top: 35px;
  right: 0px;
  padding: 20px 50px;
  font-weight: 500;
  color: #4E5C6E;
  width: 100%;
  z-index: 1;
}

.account .dropdown-content ul {
  list-style-type: none;
  padding-left: 0;
  border: 1px solid #4D6A50;
  margin-left: -2%;
}

.account .dropdown-content ul li {
  background: #FFFFFF;
  border-bottom: 1px solid #4D6A50;
  padding: 2%;
  padding-left: 5%;
  display: block;
  height: 3em;
  line-height: 3em;
}

/*Subheader*/

.subheader {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 5px #4D6A50;
          box-shadow: 0px 1px 5px #4D6A50;
  height: 3em;
  margin-bottom: 3.5em;
}

.subheader ul {
  list-style-type: none;
  height: 3em;
  padding-left: 0;
}

.subheader ul li {
  display: inline-block;
  margin-right: 3%;
  line-height: 3em;
  cursor: pointer;
}

.subheader ul li:hover {
  border-bottom: 1px solid #4D6A50;
}

.subheader ul li span {
  display: inline-block;
  padding-right: 0.85em;
}

div.container {
  width: 80%;
}

.account_img.edit {
  position: absolute;
  top: -4px;
  right: -16px;
  background: #4D6A50;
  color: #FFFFFF;
  height: 20px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

.account_username {
  margin-left: 16px;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
}

.clearfix {
  display: block;
}

/*table layout*/

.table {
  table-layout: fixed;
  display: table;
  padding: 0;
}

.table .sidebar {
  display: table-cell;
  margin-top: 5em;
  width: 20%;
  vertical-align: top;
}

.table .content {
  display: table-cell;
  left: 10px;
  width: 70%;
  padding-left: 5%;
}

.table .content .filter {
  background: #FFFFFF;
  clear: both;
}

.row.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/*Sidebar*/

.sidebar .item,
.content .file,
.content .group-type {
  background: #FFFFFF;
  margin-bottom: 3em;
}

.content .group-type .group {
  border-bottom: 1px solid #8A7E72;
}

.content .group-type .group img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content .group-type .group .icons span {
  font-family: Raleway;
  padding-left: 5px;
}

.content .group-type .group:last-child {
  border: none;
}

.sidebar .item header,
.content .file header,
.content .group-type header {
  background: #4D6A50;
  height: 2em;
  color: #FFFFFF;
  line-height: 1.75em;
  padding: 2px 10px;
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #dfdfdf;
}

.sidebar .item span {
  margin-left: 8px;
}

.content .file header a,
.content .group-type header a {
  padding-right: 1%;
  padding-left: 1%;
  color: white;
  float: right;
}

.sidebar .item {
  /*mijn bestanden ul*/
}

.sidebar .item .highlight {
  width: 100%;
  padding-left: 0;
  background: #FFFFFF;
  padding: 2%;
}

.sidebar .item .highlight li {
  display: block;
  margin-bottom: 2%;
  width: 100%;
}

.sidebar .item li .left {
  display: inline-block;
  vertical-align: top;
  /*not required*/
  position: relative;
}

.sidebar .item li .left img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.sidebar .item .highlight li .left,
.content .file .left {
  width: 20%;
  float: left;
  padding: 2%;
  height: 5em;
}

.content .file .left,
.content .file .right {
  padding: 0;
}

.sidebar .item .highlight li .left img,
.content .file .left img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
}

.content .file .left {
  width: 10%;
}

.content .file .left img {
  height: 64px;
  width: 64px;
  vertical-align: middle;
}

.content .file .right {
  width: 100%;
}

.content .file .right h3 {
  margin-top: 0;
}

.content .file .new input {
  margin-bottom: 2em;
  padding: 0.5%;
}

.sidebar .item .highlight li .right,
.content .file .right {
  /*width: 80%;*/
  float: right;
}

.content .file.detail .left {
  width: 20%;
}

.content .file.detail .right {
  width: 80%;
}

.content .file.detail .left,
.content .file.detail .right {
  height: 5em;
}

.content .file.detail .left img {
  height: 32px;
  width: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .file.detail .notes,
.content .file.detail .details {
  display: block;
  margin-top: 3.5em;
}

.content .file.detail .details .detail {
  display: inline-block;
  width: 15%;
  margin: 0 2% 0 2%;
}

.content .file.detail .details .detail i {
  font-size: 1.5em;
  color: #4D6A50;
}

.content .file.detail .details .detail i span {
  font-family: Raleway;
  color: black;
  line-height: 1em;
  padding-left: 12px;
  font-size: 16px;
}

/*star rating*/

.content .file .right .rating {
  float: right;
  font-size: 1.5em;
}

.rating .checked {
  color: orange;
}

/* search input */

.inner-addon {
  position: relative;
  border: none;
}

.inner-addon input {
  border: none;
}

/* style icon */

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */

.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */

.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

/*Forms*/

form input,
form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
}

form label {
  float: left;
}

form .mce-tinymce {
  clear: both;
}

form .form-group {
  margin: 2.5% 0 2.5% 0;
}

/*Multistep forms*/

#msform {
  width: 100%;
  text-align: center;
  position: relative;
}

#msform fieldset {
  border: 0 none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*fieldsets op elkaar stacken*/
  position: relative;
}

/*Alle steps hiden, behalve de eerste*/

#msform fieldset:not(:first-of-type) {
  display: none;
}

/*steps bar*/

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding-left: 0;
}

#progressbar li {
  list-style-type: none;
  color: red;
  width: 25%;
  float: left;
  position: relative;
  /*lijn tussen boxes*/
  /*Geen connector nodig voor stap 1*/
}

#progressbar li:before {
  position: relative;
  /*html data-title*/
  content: attr(data-title);
  counter-increment: step;
  line-height: 60px;
  display: block;
  color: white;
  margin: 0 auto 5px auto;
  background: #505457;
  height: 60px;
  width: 75%;
  z-index: 10;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 10px;
  background: #505457;
  position: absolute;
  left: -50%;
  top: 35%;
  z-index: 1;
}

#progressbar li:first-child:after {
  content: none;
}

/*Actieve en voltooide stappen groen kleuren*/

#progressbar li.active:before,
#progressbar li.active:after {
  background: #4D6A50;
  color: white;
}

/*dropzone*/

.inputFile {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputFile + label {
  font-size: 1.25em;
  font-weight: 700;
  background-color: white;
  display: inline-block;
  color: black;
  padding: 1%;
  width: 20%;
  margin-left: 40%;
}

.inputFile:focus + label,
.inputFile + label:hover {
  cursor: pointer;
}

.dropzone {
  width: 100%;
  padding: 2.5%;
  background: #4D6A50;
  position: relative;
}

.dropzone label {
  font-size: 14px;
  font-family: Raleway;
  font-style: normal;
}

.dropzone h5 {
  clear: both;
  color: white;
  padding-top: 2em;
}

/*file overview*/

.file-overview {
  text-align: left;
  width: 100%;
}

.spacer {
  height: 2em;
}

.file-overview tr td:last-child {
  text-align: right;
}

/*Custom checkboxes*/

/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked ~ .checkmark {
  background-color: #4D6A50;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Mediaqueries*/

@media only screen and (max-width: 768px) {
  /*responsive menu*/

  #platform_header {
    height: auto;
  }

  #platform_header .logo {
    display: none;
  }

  #platform_header .account_username,
  #platform_header .account_dropdown_btn {
    display: none;
  }

  #platform_header .hamburger {
    display: block;
  }

  #platform_header .sub {
    display: none;
    margin-top: 2%;
    width: 100% !important;
    padding-left: 0;
  }

  #platform_header .sub li {
    width: 100%;
    height: 3em;
    margin: 0 !important;
    text-align: center;
    line-height: 2em;
  }

  .subheader {
    display: none;
  }

  .container {
    width: 100%;
  }

  .subheader {
    margin-bottom: 0;
  }

  div.table {
    margin-top: 1em;
  }

  /*SIDEBAR*/

  .sidebar {
    display: block;
    padding: 0;
    width: 100%;
  }

  .content {
    display: block;
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .padding {
    position: relative;
  }

  .content .file .left,
  .content .file .right {
    width: 100%;
  }

  .content .file .left img {
    width: 48px;
    height: 48px;
  }

  .content .file .right .rating {
    float: right;
    font-size: 1.5em;
    position: absolute;
    right: 2%;
    top: 2%;
  }

  .content .file .detail .left {
    width: 60%;
  }

  .content .file .detail .right {
    width: 40%;
  }

  /*dropzone*/

  .inputFile + label {
    width: 80%;
    margin-left: 10%;
  }
}

