/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

$assetPath : "../img";
* {
  font-family: 'Raleway', sans-serif;
}

/*GENERAL*/
.container {
  width: 85%;
  margin: 0 auto;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.round_img{
  border-radius: 100%;
}

header a, header a:hover{
  color: #000000;
  text-decoration: none;
}



form input{
  border-radius: 0!important;
}


/*Header*/
#page_header, #platform_header {
  height: 5em;
  background-color: #FFFFFF;
  padding: 1%;
  position: relative;
}


#platform_header{
  background-color: #4D6A50;
}



#platform_menu{
  height: 3em;
  background: #FFFFFF;
  box-shadow: 2px 1px 5px #888888;
}


#platform_menu .pages{
  padding-left: 1%;
  display: inline-block;
  height: 3em;

}


#platform_menu .pages li{
  display: inline-block;
  line-height: 3em;
  margin-right: 2%;
}



#page_header img.logo, #platform_header img.logo {
  width: 36px;
  height: 36px;
}

#page_header .links {
  list-style-type: none;
  width: 40%;
  float: right;
  text-align: right;
}

#page_header .links li {
  display: inline-block;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  height: 100%;
  line-height: .5em;
}


#page_header .links li:hover, #page_header .links li.register:hover {
  background: lightgray;
  cursor: pointer;
}

#page_header ul.links li.register:hover {
  background: #4D6A50;
}

#page_header ul.links li.register {
  background: #4D6A50;
  color: #FFFFFF;
  margin-left: 4%;
}


/*HOME*/
/*Banner*/

#page_banner {
  height: 92.5vh;
  background-image: url("/img/backgrounds/imgix-404314.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 5%;
}

#page_banner #welcome {
  color: #FFFFFF;
  text-align: center;
  top: 75%;
  transform: translateY(-75%);
}

.action-button {
  background: #FFFFFF;
  display: inline-block;
  border: none;
  width: 10em;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  height: 100%;
  margin-bottom: 3.5%;
  color: #000000;
}

.action-button.register{
  background: #4D6A50;
  color: #FFFFFF;
}

.action-button.canvas{
  background: #333A40;
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 4%;
  margin-top: 35%;
  color: #FFFFFF;
  background-image: url("/img/logo/canvas-logo.png");
  background-position: 16px center;
  background-size: 32px;
  background-repeat:no-repeat;
}
#page_banner .scroll {
  position: absolute;
  top: 97.5%;
  transform: translateY(-0.5%);
  left: 49%;
  height: 48px;
  width: 48px;
  text-align: center;
  border-radius: 100%;
  background: #4D6A50;
  color: white;
  font-weight: bolder;
  line-height: 48px;
  cursor: pointer;
}

.what {
  margin-bottom: 5%;
}

.what .title {
  text-align: center;
}

.what .items {
  margin: 2% 0 2% 0;
}

.what .items .item {
  margin-bottom: 5%;
}


.what .items .item .left img, .what .items .item .right img {
  width: 50%;
  object-fit: cover;
  margin: 0 auto;
  margin-left: 20%;
}

.call-to-action {
  background: #4D6A50;
  text-align: center;
  color: #FFFFFF;
  padding: 1%;
}

.call-to-action .buttons{
  margin-top: 2%;
}
.call-to-action .buttons button {
  background: #FFFFFF;
  color: #4D6A50;
  padding: 1%;
}

/*ABOUT*/
#about_banner {
  background: #4D6A50;
  padding: 2%;
  color: #FFFFFF;
}

#about_banner h1 {
  text-align: center;
  margin-bottom: 2%;
}

#about_banner p {
  text-align: justify;
}

#about_quote {
  height: 30em;
  background-image: url("/img/backgrounds/rawpixel-com-250087.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  padding: 0;
}

#about_quote .quote {
  position: absolute;
  top: 45%;
  text-align: center;
  text-shadow: 1px 1px #4D6A50;
}

.about_person{
  margin: 5% 0;
}
.about_person .left {
  text-align: right;
}

.about_person img{
  width: 10em;
  height: 10em;
  object-fit: cover;
  margin: 15% auto;
  display: block;
}

#login_page {
  height: 80vh;
  background: url("/img/backgrounds/alexis-brown-82988.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 0;
}

.login_box{
  background: hsla(360, 100%, 100%, 0.97);
  position: absolute;
  top: 10vh;
  min-height: 60vh;
}

.login_box .info{
  background: #4D6A50;
  color: #FFFFFF;
  height: 100%;
  padding-top: 3%;
  position: absolute;
  right: 0;
}

/*FOOTER*/



footer{
  color: #FFFFFF;
  clear: both;

  .top{
    height: 12em;
    background: #333A40;
  }
  //vertical align
  .bottom{
    height: 7em;
    background: #2B2F33;
    position: relative;
    .container{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}



footer.col-xs-12 {
  padding: 0;
}


.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:1.25em;
  padding:5px 15px 0px 15px;
  color:#4D6A50;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  display: none;
}

.cross{
  background:none;
  position:absolute;
  top:0;
  right:0;
  padding:5px 15px 0px 15px;
  color:#4D6A50;
  border:0;
  font-size:3em;
  line-height:1.2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
  display: none;
}


@media only screen and (max-width: 1500px) {
  #page_header .links{
    padding-top: 0.5%;
  }

  #page_banner{
    height: 90vh;
  }

  #page_banner .scroll {
    top: 96%
  }
}

@media only screen and (max-width: 768px) {

  .container{
    width: 95%;
   margin: 0 auto;
  }
  /*responsive menu*/
  #page_header{
    height: auto;
  }

  #page_header .hamburger{
    display: block;
  }
  #page_header .links{
    display: none;
    margin-top: 2%;
    width: 100%!important;
    padding-left: 0;
  }

  #page_header .links li{
    width: 100%;
    height: 3em;
    margin: 0!important;
    text-align: center;
    line-height: 2em;

  }


  #page_banner{
    height: 50vh;
  }

  #page_banner .scroll {
    left: 42.5%
  }

  #how-it-works .item .left,  #how-it-works .item .right{
    padding: 0;
  }

  .what .items .item .left img, .what .items .item .right img{
    width: 100%;
    margin-left: 0;
  }
  #how-it-works .item h1{
    text-align: center;
    word-wrap:break-word;
  }

  #how-it-works .item p{
    text-align: justify;
    word-wrap:break-word;
  }
}


@media screen and (max-width: 480px) {

  footer{
    .top {
      height: auto;
    }

    .bottom{
      height: 12em;
    }
  }
}