/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Mixins*/
@import "mixin/link";
/*Variables*/
@import "variables/colors";

/*General*/
* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

/*
* html .clearfix {
  height: 1%;
}
*/

body {
  overflow-x: hidden;
}

.container {
  width: 85% !important;
}

/*Fonts*/
h1, h2, h3, h4, h5, h6, p {
  font-family: Raleway;
  span {
    color: $unihelp-green;
  }
}

h1, h2, h3 {
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: $unihelp-black;
  margin-top: 0;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  line-height: 1.3;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $unihelp-white;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $unihelp-white;
}

p {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: $unihelp-black;
}

label, select {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #505457;
}

label {
  margin-bottom: 5px;
}

/*Links*/
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

/*Helpers*/
.clearfix {
  display: inline-block;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.bold {
  font-weight: bold;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.small {
  font-size: 12px;
  color: $grey;
}

.row.flex {
  display: flex;
  flex-wrap: wrap;
}

.round-img {
  border-radius: 100%;
}

/*Buttons*/
.action-button {
  height: 40px;
  line-height: 1em;
  background-color: $unihelp-white;
  display: inline-block;
  border: none;
  &.register {
    background: $unihelp-green;
    color: $unihelp-white;
    &:hover {
      background: $unihelp-white !important;
      color: $unihelp-green !important;
      -webkit-transition: background-color 100ms linear;
      -ms-transition: background-color 100ms linear;
      transition: background-color 100ms linear;
    }
  }
  &.login {
    &:hover {
      background: $unihelp-green;
      color: $unihelp-white;
      -webkit-transition: background-color 100ms linear;
      -ms-transition: background-color 100ms linear;
      transition: background-color 100ms linear;
    }
  }
}

.form-button {
  @extend .action-button;
  background: $unihelp-green;
}

.download-button {
  @extend .action-button;
  background: $unihelp-brown;
  color: $unihelp-white;
  border: none;
  text-align: center;
  float: right;
  margin: 3% 0 3% 0;
  a {
    cursor: pointer;
    @include link(white, white, white, white);
  }

  &:hover {
    background: $unihelp-green;
  }
}

/*Navigation*/
#page-header, #platform-header {
  height: 80px;
  width: 100%;
  background-color: $unihelp-white;
  padding: 1%;
  position: relative;
  img.logo {
    width: 36px;
    height: 36px;
  }
}

#platform-header {
  padding: 1% 0 1% 0;
}

#page-header {
  //sticky
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 1px 0px 0.25px $unihelp-green;
  a, a:hover {
    color: $unihelp-black;
    text-decoration: none;
  }
  .links {
    list-style-type: none;
    text-align: right;
    li {
      display: inline-block;
      padding: 2%;
      padding-left: 4%;
      padding-right: 4%;
      line-height: .5em;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: lightgray;
        opacity: 0.75;
      }
      &.register {
        background: $unihelp-green;
        color: $unihelp-white;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

/*Mobile navigation*/
.hamburger, .cross {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1em;
  padding: 5px 15px 0px 15px;
  color: $unihelp-green;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.cross {
  font-size: 4em;
}

/*Home banner*/
#page-banner {
  height: 99.5vh;
  margin-bottom: 5%;
  background-image: url("/img/backgrounds/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 3px 0px $unihelp-black;
  #welcome {
    color: $unihelp-white;
    text-align: center;
    top: 80%;
    transform: translateY(-75%);
    h1, h3 {
      text-align: center;
      color: $unihelp-white;
      text-shadow: 0 2px 2px #4d6a50;
    }
    .buttons {
      display: block;
      margin: 3.5% 0 auto;
      .register {
        margin-bottom: 2em;
      }
      .login {
        color: $unihelp-green;
        margin-bottom: 2em;
      }
    }
  }
  .scroll {
    position: absolute;
    top: 102%;
    left: 49%;
    -webkit-transform: translate(-50%, -105%);
    transform: translate(-50%, -105%);
    height: 48px;
    width: 48px;
    text-align: center;
    border-radius: 100%;
    background: $unihelp-green;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    .glyphicon {
      line-height: 48px;
    }
  }
}

#how-it-works {
  .container {
    //width: 80%;
    //margin: auto;
  }
  h1 {
    text-align: center;
  }
  p {
    margin-top: 30px;
  }
  .title {
    text-align: center;
  }
  .items {
    margin: 2% 0 2% 0;
    .item {
      margin: 5% 0 5% 0;
      img {
        height: 300px;
        width: 90%;
        object-fit: cover;
        margin: 0 auto;
      }
    }
  }
}

.call-to-action {
  background: $unihelp-green;
  color: $unihelp-white;
  padding: 2%;
  height: 200px;
  h2 {
    text-align: center;
    color: $unihelp-white;
  }
  button {
    background-color: $unihelp-white !important;
    color: $unihelp-green !important;
    &:hover {
      background: lightgray !important;
      color: $unihelp-green !important;
    }
  }
}

/*About*/
#about-banner {
  height: auto;
  margin-top: 80px;
  background: $unihelp-green;
  padding: 2%;
  color: $unihelp-white;
  h1 {
    text-align: center;
    margin-bottom: 2%;
    color: $unihelp-white;
  }
  p {
    text-align: justify;
  }
}

#about-quote {
  height: 650px;
  background-image: url("/img/backgrounds/rawpixel-com-250087.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $unihelp-white;
  position: relative;
  padding: 0;
  .quote {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px $unihelp-green;
  }
  h1 {
    color: $unihelp-white;
    text-align: center;
  }
}

.about-person {
  margin: 10% 0;
  h3 {
    color: $unihelp-green;
  }
  h4 {
    color: $unihelp-black;
  }
  .left {
    text-align: right;
  }
  img {
    position: relative;
    width: 10em;
    height: 10em;
    object-fit: cover;
    margin: 5.5% auto;
    display: block;
    top: 55%;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
  }
}

/*Login + register*/
#login-page {
  height: 100vh;
  background: url("/img/backgrounds/login-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  h3 {
    color: $unihelp-green;
  }

  h3, p {
    text-align: center;
  }
  img {
    width: 25%;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
  }
  .login-box {
    width: 35em;
    max-width: 100%;
    background: $unihelp-white;
    position: absolute;
    left: 50%;
    top: 52%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: $unihelp-black;

    .login-problem p {
      text-align: center !important;
    }

    header, .box, footer {
      padding: 24px 50px 36px;
    }

    header, footer {
      text-align: center;

    }

    .box {
      padding-top: 0;

    }
    footer {
      background: #eee;
      color: $unihelp-black;
      text-transform: uppercase;
    }

    div.form-group {
      padding-left: 0;
      padding-right: 0;
    }

    .action-button.login, .action-button.register, .action-button.next, .action-button.previous, .action-button.finish {
      @extend .action-button;
      background: $unihelp-green;
      width: 100%;
      padding: 2%;
      text-transform: uppercase;
      margin-bottom: 2%;
      color: $unihelp-white;
    }

  }

  .action-button.register {
    background: transparent;
    border: 2px solid $unihelp-green;
    color: $unihelp-black;
    &:hover {
      background: $unihelp-green;
      color: $unihelp-white;
      -webkit-transition: background-color 100ms linear;
      -ms-transition: background-color 100ms linear;
      transition: background-color 100ms linear;
    }

  }

  /*Register*/
  .account-img {
    width: 10rem;
    height: 10rem;
    background-color: $unihelp-white;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }

  .profile-img-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    img {
      width: 128px;
      height: 128px;
    }
    a, #picture-input {
      display: block;
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      color: inherit;
      color: $unihelp-green;
      font-size: 0.5em;
      cursor: pointer;
    }
    &:hover a {
      opacity: 1;
      top: 0;
      z-index: 500;
      span {
        top: 50%;
        position: absolute;
        left: 0;
        right: 0;
        transform: translateY(-50%);
      }
    }
    #picture-input {
      z-index: 999;
      width: 30rem;
    }
  }

  .page-error {
    h1, h3, h4, p, a {
      text-align: center !important;
    }

    h3 {
      color: $unihelp-green;
    }

    a, p {
      text-align: center !important;
      cursor: pointer;
      @include link(black, black, black, black);
    }

  }
}

/*Footer*/
footer {
  clear: both;
  .top, .bottom {
    position: relative;
    text-align: left;
    display: block;
    //vertical align
    .container {
      position: absolute;
      top: 50%;
      left: 7.5%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
  .top {
    height: 200px;
    background: $unihelp-asphalt;
    p {
      font-size: 16px;
      color: $unihelp-white;
    }
  }
  .bottom {
    height: 85px;
    background: $unihelp-grey;
    p {
      font-size: 14px;
      color: $unihelp-white;
    }
  }

  a {
    cursor: pointer;
    @include link(white, white, white, white);
  }

  /*Override default mce css*/
  #mce-EMAIL {
    width: 50% !important;
    float: left !important;
    border: none !important;
    background-color: #505457 !important;
    color: $unihelp-white !important;
  }

  #mc-embedded-subscribe {
    width: 20% !important;
    margin-left: 2.5% !important;
    float: left !important;
    text-align: center !important;
    background: #4D6A50 !important;
  }
}

/*Custom checkboxes*/
.checkbox-label {
  margin-bottom: 2%;
}

.checkbox-label input {
  display: none;
}

.checkbox-label span {
  height: 12px;
  width: 12px;
  padding: 2%;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}

.checkbox-label [type=checkbox]:checked + span:before {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  top: -5px;
  left: 0;
  color: $download-button;
}

/*custom select box*/
.textdiv {
  input {
    background: transparent;
    padding: 5px 35px 5px 5px;
    border: 1px solid #ccc;
    height: 34px;
    width: 100%;
  }
}

.selectdiv {
  position: relative;
  select, input {
    background: transparent;
    padding: 5px 35px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::after {
    content: "\f078";
    font: 17px FontAwesome;
    color: $unihelp-green;
    right: 11px;
    top: 32px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }
}


/*Custom checkboxes*/
/*https://www.w3schools.com/howto/howto_css_custom_checkbox.asp*/

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: $unihelp-green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*Multistep form*/
#msform fieldset {
  border: 0 none;
  border-radius: 3px;
  box-sizing: border-box;
  /*fieldsets op elkaar stacken*/
  position: relative;
}

/*Alle steps hiden, behalve de eerste*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*steps bar*/
#progressbar {
  overflow: hidden;
  padding: 8px 15px;
  padding-bottom: 0;
  /*CSS counters to number the steps*/
  counter-reset: step;
  padding-left: 0;
  li {
    list-style-type: none;
    width: 25%;
    height: 50px;
    float: left;
    position: relative;
    text-align: center;
    //box with title*/
    &:before {
      position: relative;
      /*html data-title*/
      content: attr(data-title);
      counter-increment: step;
      line-height: 50px;
      display: block;
      color: white;
      margin: 0 auto 5px auto;
      background: $grey;
      height: 50px;
      width: 75%;
      z-index: 10;
    }
    /*lijn tussen boxes*/
    &:after {
      content: '';
      width: 100%;
      height: 10px;
      background: $grey;
      position: absolute;
      left: -50%;
      top: 35%;
      z-index: 1;
    }
    /*Geen connector nodig voor stap 1*/

    &:first-child:after {
      content: none;
    }

  }
}

/*Actieve en voltooide stappen groen kleuren*/
#progressbar li.active:before, #progressbar li.active:after {
  background: $unihelp-green;
  color: white;
}

/*Forms*/
.form-group {
  margin-bottom: 20px!important;
  display: block;
}

input:focus, .form-control:focus {
  box-shadow: none;
}

form input, form textarea {
  border-radius: 0 !important;
}

form textarea{
  max-width: 100%;
  min-width: 100%;
}

form.register .form-group {
  margin-bottom: 7.5%;
}

@media only screen and (max-width: 1500px) {
  #page-header .links {
    padding-top: 0.5%;
  }

  #page-banner {
    height: 90vh;
  }
  footer {
    .top {
      min-height: 15em;
      height: auto;
    }

    .bottom {
      /*height: 12em;*/
    }
  }
}

@media only screen and (max-width: 1200px) {
  footer {
    .top {
      min-height: 25em;
      height: auto;
    }

  }
}

@media only screen and (max-width: 768px) {

  #page-banner, #about-banner {
    margin-top: 48px;
  }
  /*responsive menu*/
  #page-header {
    height: auto;
    .hamburger {
      display: block;
    }
    .links {
      display: none;
      margin-top: 2%;
      width: 100% !important;
      padding-left: 0;
      background: white;
      li {
        width: 100%;
        height: 3em;
        margin: 0 !important;
        text-align: center;
        line-height: 2em;
      }
    }
    img.logo {
      width: 32px;
      height: 32px;
      padding: 5px;
    }
  }

  #page-banner {
    margin-top: 0;
    height: 85vh;
    #welcome {
      top: 65%;
    }
    .scroll {
      top: 105%;
    }
  }

  .what .items .item .left img, .what .items .item .right img {
    width: 100%;
    margin-left: 0;
  }
  #how-it-works .item {

    .right, .left {
      padding: 0;
    }

    h2 {
      word-wrap: break-all;
    }

    p {
      text-align: justify;
      word-wrap: break-word;
    }

  }

  #about-quote h1 {
    text-align: center;
  }
  .about-person {
    .right {
      margin-top: 1em;
    }
    h3, h4, p {
      text-align: center;
    }
  }

  #how-it-works {
    .items {
      .item {
        img {
          width: 100%;
        }
      }
    }
  }

  .call-to-action {
    height: auto;
  }
  footer {

    .container {
      left: 0 !important;
    }
    .top {
      min-height: 30em;
      height: auto;
    }

    .bottom {
      height: 12em;
    }

  }

}

@media only screen and (max-width: 480px) {

  .call-to-action {
    min-height: 250px;
  }
  footer {
    .top {
      min-height: 35em;
    }

    #mce-EMAIL {
      width: 100% !important;
      float: left !important;
      border: none !important;
      background-color: #505457 !important;
      color: $unihelp-white !important;
    }

    #mc-embedded-subscribe {
      width: 100% !important;
      margin-left: 0 !important;
      float: left !important;
      text-align: center !important;
      background: #4D6A50 !important;
    }
  }

}




