/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Mixins*/
@import "mixin/link";
/*Variables*/
@import "variables/colors";

/*General*/
* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

* html .clearfix {
  height: 1%;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

/*Helpers*/

.clearfix {
  display: inline-block;
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.bold {
  font-weight: bold;
}

.small {
  font-size: 12px;
  color: $grey;
}

.round_img {
  border-radius: 100%;
}

header a, header a:hover {
  color: #000000;
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

form input {
  border-radius: 0 !important;
}

.action-button {
  background: #FFFFFF;
  display: inline-block;
  border: none;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  height: 100%;
  margin-bottom: 3.5%;
  color: #000000;
  text-align: center;
}

/*Header*/

#page_header, #platform_header {
  max-height: 5.5em;
  background-color: #FFFFFF;
  padding: 1%;
  position: relative;
  img.logo {
    width: 36px;
    height: 36px;
  }
}

#page_header {
  .links {
    list-style-type: none;
    text-align: right;
    li {
      display: inline-block;
      padding: 2%;
      padding-left: 4%;
      padding-right: 4%;
      line-height: .5em;
      &:hover {
        background: lightgray;
        opacity: 0.75;
        cursor: pointer;
      }
      &.register {
        background: $unihelp-green;
        color: #FFFFFF;
        /*margin-left: 4%;*/
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

.hamburger {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1em;
  padding: 5px 15px 0px 15px;
  color: $unihelp-green;
  border: 0;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

.cross {
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 0px 15px;
  color: $unihelp-green;
  border: 0;
  font-size: 4em;
  line-height: 1em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
  display: none;
}

/*Banner*/

#page_banner {
  height: 92.5vh;
  background-image: url("/img/backgrounds/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*position: relative;*/
  margin-bottom: 5%;
}

#page_banner #welcome {
  color: #FFFFFF;
  text-align: center;
  top: 75%;
  transform: translateY(-75%);
}

.action-button.register {
  background: $unihelp-green;
  color: #FFFFFF;
}

form.register .form-group {
  margin-bottom: 7.5%;
}

.action-button.long {
  @extend .action-button;
  width: 100%;
}

#page_banner .scroll {
  position: absolute;
  top: 102%;
  left: 50%;
  -webkit-transform: translate(-50%, -105%);
  transform: translate(-50%, -105%);
  height: 48px;
  width: 48px;
  text-align: center;
  border-radius: 100%;
  background: $unihelp-green;
  color: white;
  font-weight: bolder;
  line-height: 48px;
  cursor: pointer;
}

/*How-it-works*/

.what {
  margin-bottom: 5%;
  h1 {
    margin-top: 0;
  }

  .title {
    text-align: center;
  }

  .items {
    margin: 2% 0 2% 0;
    .item {
      margin: 5% 0 5% 0;

      .left, .right {

        img {
          width: 100%;
          object-fit: cover;
          margin: 0 auto;

        }
      }
    }
  }
}

/*call-to-action*/

.call-to-action {
  background: $unihelp-green;
  text-align: center;
  color: #FFFFFF;
  padding: 2%;
}

.call-to-action .buttons {
  margin-top: 2%;
}

.call-to-action .buttons button {
  background: #FFFFFF;
  color: $unihelp-green;
  padding: 1%;
}

/*About*/

#about_banner {
  background: $unihelp-green;
  padding: 2%;
  color: #FFFFFF;
  h1 {
    text-align: center;
    margin-bottom: 2%;
  }
  p {
    text-align: justify;
  }
}

#about_quote {
  height: 30em;
  background-image: url("/img/backgrounds/rawpixel-com-250087.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  padding: 0;
  .quote {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 1px 1px $unihelp-green;
  }
}

.about_person {
  margin: 5% 0;
  .left {
    text-align: right;
  }

  img {
    width: 10em;
    height: 10em;
    object-fit: cover;
    margin: 15% auto;
    display: block;
  }
}

/*Login*/
#login_page {
  height: 85vh;
  max-height: 100vh;
  background: url("/img/backgrounds/login-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.login_box {
  width: 32em;
  max-width: 100%;
  padding: 1%;
  background: #FFFFFF;
  border-radius: 3.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .canvas {
    text-align: center;
    padding-top: 10%;
    img {
      display: block;
      width: 25%;
      margin: 0 auto;
      margin-bottom: 5%;
    }
  }
  .login-problem {
    text-align: center;
    cursor: pointer;
    @include link(black, black, black, black);
  }

  .action-button.login, .action-button.register {
    @extend .action-button;
    background: #333A40;
    width: 100%;
    padding: 2%;
    margin-top: 15%;
    margin-bottom: 10%;
    color: #FFFFFF;
  }

  .action-button.register {
    background: $unihelp-green;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

/*Register*/

.account_img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  &:hover {
    width: 10rem;
    height: 10rem;
  }
}

.profile-img-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 1%;
  a, #picture-input{
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
    color: $unihelp-green;
    font-size: 0.5em;
    cursor: pointer;
  }
  &:hover a{
    opacity: 1;
    top: 0;
    z-index: 500;
    span{
      top: 50%;
      position: absolute;
      left: 0;
      right: 0;
      transform: translateY(-50%);
    }
  }
  #picture-input{
z-index: 999;
    width: 30rem;
  }
}






.account_username {
  text-align: center;
}

/*Footer*/

footer {
  color: #FFFFFF;
  clear: both;
  &.col-xs-12 {
    padding: 0;
  }
  .top, .bottom {
    position: relative;
    text-align: left;
    clear: both;
    display: block;
    //vertical align
    .box {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .top {
    height: 12em;
    background: #333A40;

  }

  .bottom {
    height: 7em;
    background: #2B2F33;

  }

  a {
    cursor: pointer;
    @include link(white, white, white, white);
  }
}

/*Custom checkboxes*/

.checkbox-label {
  margin-bottom: 2%;
}

.checkbox-label input {
  display: none;
}

.checkbox-label span {
  height: 12px;
  width: 12px;
  padding: 2%;
  border: 1px solid grey;
  display: inline-block;
  position: relative;
}

.checkbox-label [type=checkbox]:checked + span:before {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  top: -5px;
  left: 0;
  color: $download-button;
}

/*custom select box*/

.textdiv {
  input {
    background: transparent;
    padding: 5px 35px 5px 5px;
    border: 1px solid #ccc;
    height: 34px;
    width: 100%;
  }
}

.selectdiv {
  position: relative;
  select, input {
    background: transparent;
    padding: 5px 35px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::after {
    content: "\f078";
    font: 17px FontAwesome;
    color: $unihelp-green;
    right: 11px;
    top: 32px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }
}

@media only screen and (max-width: 1500px) {
  #page_header .links {
    padding-top: 0.5%;
  }

  #page_banner {
    height: 90vh;

  }

  footer {
    .top {
      min-height: 20em;
      height: auto;
    }

    .bottom {
      height: 12em;
    }
  }
}

@media only screen and (max-width: 768px) {

  /*responsive menu*/
  #page_header {
    height: auto;
    .hamburger {
      display: block;
    }
    .links {
      display: none;
      margin-top: 2%;
      width: 100% !important;
      padding-left: 0;
      background: white;
      li {
        width: 100%;
        height: 3em;
        margin: 0 !important;
        text-align: center;
        line-height: 2em;
      }
    }
    img.logo {
      width: 32px;
      height: 32px;
      float: right;
      padding: 5px;
    }
  }

  #page_banner {
    height: 65vh;

  }

  .what .items .item .left img, .what .items .item .right img {
    width: 100%;
    margin-left: 0;
  }
  #how-it-works .item {

    .right, .left {
      padding: 0;
    }

    h1 {
      text-align: center;
      word-wrap: break-word;
    }
    p {
      text-align: justify;
      word-wrap: break-word;
    }

  }

  footer {
    .top {
      min-height: 25em;
      height: auto;
    }

    .bottom {
      height: 12em;
    }
  }

}

@media only screen and (max-width: 480px) {

}