/*Imports*/
@import "variables/colors";
@import "mixin/link";

/*General css*/

body.platform {
  background-color: $background-color;
}

* {
  box-sizing: border-box;

}

/*tinymce ads*/
#mceu_31, #mceu_33, #mceu_62, .mce-notification {
  display: none;
}

.brown {
  color: $unihelp-brown;
}

.spacer {
  height: 2em;
}

div.container {
  width: 80%;
}

.row.flex {
  display: flex;
  flex-wrap: wrap;
}

.group-img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}

.account-img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.wijzigen {
  font-family: HelveticaNeue;
  margin-top: 10px;
  font-size: 14px !important;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center !important;
  color: $unihelp-green !important;
  cursor: pointer;
}

.go-back {
  a{
    color: $unihelp-brown;
  }
  i {
    cursor: pointer;
    span {
      font-family: Raleway;

    }
  }
  .padding {
    padding: 7.5px;
  }
}

.modal h4 {
  color: $unihelp-green;
}

/*Header*/
#platform-header {
  background-color: $unihelp-green;
  .sub {
    display: none;
    list-style-type: none;
    text-align: center;
    background: $unihelp-green;
    padding: 0;
    color: $unihelp-white;
    li {
      display: inline-block;
      padding: 2%;
      padding-left: 4%;
      padding-right: 4%;
      line-height: .5em;
      &:hover {
        background: lightgray;
        opacity: 0.75;
        cursor: pointer;
      }
      &.register {
        background: $unihelp-green;
        color: $unihelp-white;
        /*margin-left: 4%;*/
        &:hover {
          opacity: 0.9;
        }

      }
      a {
        color: $unihelp-white;
      }
    }
  }

  /*Menu*/
  .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    float: right;
    position: relative;
    .account_username {
      margin-left: 8px;
      margin-right: 6px;
      font-size: 14px;
      font-weight: 500;
      color: $unihelp-white;
    }
    .account_dropdown_btn {
      width: 10px;
      height: 6px;
      margin-top: 2px;
      fill: $unihelp-white;
      opacity: 0.5;
    }
  }
  #account-dropdown {
    width: 200px;
    //height: 100%;
    margin-left: -30%;
    top: 3em;
    position: absolute;
    //padding: 0;
    box-shadow: 2px $unihelp-asphalt;
    border-radius: 3px;
    padding-bottom: 0;
    margin-bottom: 0;
    li {
      cursor: pointer;
      height: 50px;
      line-height: 50px;
      &:hover {
        background: $unihelp-green !important;
      }
      a {
        line-height: 3em;
        cursor: pointer;
        &:hover {
          background: $unihelp-green !important;
          color: $unihelp-white;
        }
      }

    }
  }
}

/*Subheader*/
.subheader {
  background: $unihelp-white;
  box-shadow: 0px 1px 5px $unihelp-green;
  height: 3em;
  margin-top: -3.5px;
  margin-bottom: 3.5em;
  ul {
    list-style-type: none;
    height: 3em;
    padding-left: 0;
    li {
      display: inline-block;
      margin-right: 3%;
      line-height: 3em;
      cursor: pointer;
      color: $unihelp-brown;
      &:hover, &.uh-active {
        border-bottom: 3px solid $unihelp-brown;
        a {
          color: $unihelp-brown;
        }
      }
      a {
        display: block;
        color: $unihelp-asphalt;
        &:hover {
          color: $unihelp-brown;
        }
      }
      span {
        display: inline-block;
        padding-right: 0.85em;
      }
      .badge{
        background: $unihelp-brown;
        padding: 5px;
        width: 20px;
        height: 20px;
        line-height: 7.5px;
        text-align: center;
      }
    }
  }
}

/*table layout*/
.table {
  table-layout: fixed;
  display: table;
  padding: 0;
  .sidebar {
    display: table-cell;
    margin-top: 5em;
    width: 20%;
    vertical-align: top;
  }
  .content {
    display: table-cell;
    left: 10px;
    width: 70%;
    padding-left: 5%;
    .filter {
      clear: both;
    }
  }
}

/*Tutoring*/
.table.tutoring {
  display: table;
  .sidebar {
    display: table-cell;
    .people-list {
      list-style-type: none;
      padding-left: 0;
      li {
        display: block;
        background: $unihelp-green;
        color: $unihelp-white;
        border: 1px solid $unihelp-white;
        height: 80px;
        position: relative;
        &:hover, &.people-list-active {
          cursor: pointer;
          background: $unihelp-white;
          color: $unihelp-green;
        }
        &.load-more {
          text-align: center;
          height: 55px;
          line-height: 85px;
        }
        .picture {
          display: table-cell;
          width: 42px;
        }
        .info {
          display: table-cell;
          padding-left: 16px;
          vertical-align: middle;
          padding-top: 4px;
          h6 {
            margin: 5px 0;
          }

          h6.bold {
            margin: 0;
          }
        }
        &.new {
          .add {
            background: $unihelp-white;
            color: $unihelp-green;
            text-align: center;
            font-size: 1em;
            line-height: 42px;
            &:hover {
              background: $unihelp-green;
              color: $unihelp-white;
            }
          }
        }

        &.load-more:hover, &.new:hover {
          background: $unihelp-brown;
          color: $unihelp-white;
        }

      }
    }
    .table {
      margin-bottom: 0;
    }

    .item {
      margin-bottom: 0;
    }
  }
  .content {
    display: table-cell;
    padding-left: 0;
    position: relative;
    .item {
      position: absolute;
      height: 100%;
    }
  }
}

#tutoring-modal {
  .keuze {
    text-align: center;
    cursor: pointer;
    header {
      background: $unihelp-brown;
    }
    background: $unihelp-green;
    img {
      display: block;
      margin: auto;
      //width: 100%;
      height: 10em;
      object-fit: cover;
    }
    p, h4 {
      text-align: center;
    }
    &:hover {
      background-color: $unihelp-brown;
    }
  }
}

.overview-calendar {
  height: 45px;
  margin-top: 2.5em;
  position: relative;
  .date {
    color: $unihelp-black;
    text-align: left;

  }
  &.new{
    cursor: pointer;
    .reminder{
      background: $unihelp-green;
    }
    .date{
      text-align: center;
      line-height: 40px;
    }
  }
  .reminder {
    height: 45px;
    color: $unihelp-white;
    background: $unihelp-brown;
    h5 {
      margin: 0;
    }
    p{
      color: $unihelp-white;
    }
  }

}

/*block witte achtergrond*/
.item {
  background: $unihelp-white;
  margin-bottom: 3em;
  display: block;
  header {
    background: $unihelp-green;
    height: 2em;
    color: $unihelp-white;
    line-height: 1.75em;
    padding: 2px 10px;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px;
    border-bottom: 1px solid #dfdfdf;
    header a {
      padding-right: 1%;
      padding-left: 1%;
      color: white;
      float: right;
    }
  }

  h3, h4 {
    color: $unihelp-black;
    margin-top: 20px;
  }

}

.filecontainer {
  display: inline;
}


.overview {
  &.groups, &.group, &.file, &.user-owned {
    cursor: pointer;
    .title {
      a {
        color: $unihelp-black;
        &:hover {
          color: $unihelp-green;
        }
      }
    }
    .icons {
      margin-bottom: 10px;
      i {
        color: $unihelp-brown;
      }
      span {
        font-family: Raleway;
        padding-left: 5px;
        color: #0f0f0f;
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
  .group {
    border-bottom: 1px solid $unihelp-brown;

    .info {
      span {
        color: $unihelp-green;
      }
    }
    &:last-child {
      border: none;
    }

    h4, h3 {
      margin-bottom: 0;

    }
    h3 {
      margin-top: 0;
    }
  }

  .group-type {
    .update {
      color: $unihelp-green;
      font-weight: 500;
    }

  }

  &.file {
    //height: 150px;
    h6, h5 {
      margin-top: 5px;
    }
    img {
      top: 35% !important;
    }

    .rating {
      position: absolute;
      right: 0;
      top: 0%;
      -webkit-transform: translate(0, -0%);
      transform: translate(0, -0%);
    }

  }
}

.detail {
  p{
    font-size: 14px;
  }
  &.file {
    .info {
      left: 15px;
    }
    .rating {
      position: absolute;
      top: 0;
      right: 20px;
      -webkit-transform: translate(0, -0%);
      transform: translate(0, -0%);
      text-align: right;
      float: right;
    }
    p {
      font-size: 14px;
    }
    .details {
      margin-top: 2em;
      opacity: 0.9;
      .detail {
        background: $unihelp-green;
        border: 1px solid $unihelp-white;
        padding: 5px 5px 5px 10px;
        color: $unihelp-white;
        i {
          //color: $unihelp-brown;
          span {
            color: $unihelp-white;
            line-height: 1em;
            padding-left: 12px;
            font-size: 16px;
          }
        }
      }
    }
  }
  &.group {
    .actions {
      text-align: center;
    }
  }
}

.content {
  .info {
    //margin-top: 1em;
    ul {
      width: 100%;
      list-style-type: none;
      padding-left: 0;
      li {
        width: 15%;
        display: inline-block;
      }
    }
  }

  .actions {
    padding: 0;
    div.col-lg-4 {
      padding-left: 0 !important;
    }
    .action {
      padding: 8px 15px;
      background: $unihelp-brown;
      color: $unihelp-white;
      margin-bottom: 7px;

      &:hover, &.active {
        cursor: pointer;
        background: $unihelp-green;
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;
      }

    }
  }
}

#tutoringcontent {
  article.col-lg-4:nth-of-type(1) {
    padding-left: 0;
  }
  article.col-lg-4:nth-of-type(3) {
    padding-right: 0;
  }
  .item {
    padding: 0;
    border-top: 0;
    text-align: center;

    header {
      background: $unihelp-brown;
      text-align: center;
    }
    .padding {
      border: 5px solid transparent;
      border-top: 0;
    }

    img {
      width: 60px;
      height: 60px;
      margin: 5%;
    }

  }

}

/*Messages*/
#messages {
  .msg {
    margin-bottom: 2.5em;
    .txt {
      background: $unihelp-brown;
      color: $unihelp-white;
      padding: 1.5%;
      p {
        color: $unihelp-white;
        font-size: 14px;
      }
      span {
        font-size: .75em;
        font-weight: 300;
      }
    }
    &.own {
      .txt {
        background: $unihelp-green;
      }
    }
  }

}

#comment-box {
  margin-top: 1.5em;
  //padding-top: 1.5em;
  //margin-bottom: 1.5em;
  border-top: 1px solid $unihelp-brown;
  line-height: 32px;

  input, button {
    border: none;
    padding: 0;
    background: none;
    color: inherit;
  }

}

.sidebar {
  /*New/upload button*/
  .button {
    background: $unihelp-brown;
    padding: 0;
    button {
      width: 100%;
      padding: 2%;
      background: $unihelp-brown;
      border: none;
      color: $unihelp-white;
    }
  }

  .item {
    /*mijn bestanden ul*/
    .highlight {
      width: 100%;
      padding-left: 0;
      background: $unihelp-white;
      li {
        display: block;
        margin-bottom: 2%;
        width: 100%;
        i {
          span {
            margin-left: 5px;
          }
        }
      }
    }

    &.user-owned {
      h5 {
        margin-bottom: 0;
        margin-top: 0;
      }
      .row {
        margin-bottom: 20px;
        //margin-top: 15px;
      }
    }

  }

  .stats {
    p {
      font-size: 14px;
      &.amount {
        text-align: right;
      }
    }
  }
}

.file {
  header {
    a {
      @include link(white, white, white, white);
    }

    i {
      float: right;
      margin-top: 7px;
    }
  }
  h3 {
    margin-top: 0;
    /*margin-bottom: 0;*/
  }

  .new {
    input {
      margin-bottom: 2em;
      padding: 0.5%;
    }
  }
  .rating {
    font-size: 1.5em!important;
    &:hover {
      cursor: pointer;
    }

    .checked {
      color: $unihelp-brown;
    }
  }

}

#filter-details {
  margin-bottom: 1em;
  small {
    color: $unihelp-brown;
  }
}

/* search input */
.inner-addon {
  position: relative;
  border: none;
}

.inner-addon input {
  border: none;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon {
  left: 0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}

.right-addon input {
  padding-right: 30px;
}

/*Forms*/
form input, form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 13px;
}

form input[type=submit] {
  padding: 0;
}

form label {
  float: left;
}

form .mce-tinymce {
  clear: both;
}

form .form-group {
  margin: 2.5% 0 2.5% 0;
}

/* Profiel */
.color-choose {
  //width: 32.333%;
  //margin-right: 0.3%;
  margin-bottom: 0.3%;
  height: 60px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
}

.notification-choose {
  //width: 24%;
  //margin-right: 0.6%;
  margin-bottom: 2.5em;
  height: 65px;
  display: inline-block;
  border: 1px solid $unihelp-green;
  position: relative;
  cursor: pointer;
  header {
    background: $unihelp-green;
    height: 12px;
  }

  p {
    text-align: center;
    margin-top: 10px;
    font-family: FontAwesome;
  }

  label {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    //position: absolute;
    top: 60px;
  }
  &.disabled, &:hover {
    background: lightgray;
  }

}

.vakken, .vakken-nieuw {
  padding-left: 0;
  li {
    width: 100%;
    height: 26.5px;
    line-height: 26.5px;
    list-style-type: none;
    margin-bottom: 16px;
    span {
      float: right;
      color: $unihelp-green;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.vakken-nieuw {
  span {
    input {
      width: 85.5px;
      height: 26.5px;
      margin-top: 0;
      line-height: 26px;
    }
  }
}

#vak-zoeken {
  height: 30px;
  padding: 15px;
  margin: 0 0 20px 0;
  border: solid 0.5px #4d6a50;
}

.headline {
  //height: 150px;
  h4 {
    margin-bottom: 0;
  }
  img {
    position: relative;
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin: 5.5% auto;
    display: block;
    top: 30%;
    //-webkit-transform: translateY(-50%);
    //-ms-transform: translateY(-50%);
    transform: translateY(-30%);
  }

  .right {
    padding-top: 1%;
  }
}

/*dropzone*/
.inputFile {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputFile + label {
  font-size: 1.25em;
  font-weight: 700;
  background-color: white;
  display: inline-block;
  color: black;
  padding: 1%;
  width: 20%;
  margin-left: 40%;
}

.inputFile:focus + label,
.inputFile + label:hover {
  cursor: pointer;
}

.dropzone {
  width: 100%;
  padding: 2.5%;
  background: $unihelp-green;
  position: relative;
  label {
    font-size: 14px;
    font-family: Raleway;
    font-style: normal;

  }
  h5 {
    clear: both;
    color: white;
    padding-top: 2em;
  }
}

/*file overview*/
.file-overview {
  text-align: left;
  width: 100%;
}

.file-overview tr td:last-child {
  text-align: right;
}

/*Bootstrap modals*/
.modal-content {
  border-radius: 0;
}

.modal-header {
  border-bottom: none !important;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

/*Bootstrap medium*/
@media only screen and (max-width: 1200px) {
}

/*Bootsstrap small*/
@media only screen and (max-width: 992px) {
  .edit {
    display: none;
  }
  div.table {
    margin-top: 1em;
  }

  /*SIDEBAR*/
  .sidebar, .content {
    display: block !important;
    padding: 0;
    left: 0 !important;
    width: 100% !important;
    padding-left: 0 !important;
    margin-top: 0 !important;

  }

}

/*Bootstrap extra small*/
@media only screen and (max-width: 768px) {

  .hide-mobile {
    display: none;
  }

  .dropdown{
    padding: 0!important;
  }
  #account-dropdown{
    top: 0!important;
    right: 0!important;
    width: 400px!important;
    position: absolute;
    background: transparent;
    width: 100vw!important;
    margin-top: -3.2em;
    height: 100%;
  }

  /* #slicknav menu */
  #account-dropdown > li, #account-dropdown > a {
    display: none;
  }

  .js .slicknav_menu {
    display: block;
  }
  .slicknav_menu {
    display: none;
    padding: 0!important;
  }

  .slicknav_nav {
    width: 100%;
    background: $unihelp-green;
  }
  .slicknav_menu {
    display: block;
    text-align: center;
  }

  /*responsive menu*/
  #platform-header {
    .account {
      float: left;
     .account_username, img, .dropdown-toggle{
       display: none;
     }
      .dropdown-menu{
        display: block;
      }
    }

    .account_username, .account_dropdown_btn {
      display: none;
    }
  }


  .container {
    width: 100% !important;
  }

  .subheader {
    margin-bottom: 0;
  }
/*
  .file .rating {
    font-size: 1.5em;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
  }
*/
  .headline {
    .right {
      h4 {
        text-align: center;
      }
    }
  }

}

@media only screen and (max-width: 480px) {

  .subheader{
    height: 7em;
    text-align: center;
  }

  .sidebar {
    .stats {
      display: none;
    }
  }

  .padding {
    position: relative;
  }

  .content .file {
    .left, .right {
      width: 100%;
    }
    .left {
      img {
        width: 48px;
        height: 48px;
      }
    }
    .right {
      .rating {
        float: right;
        font-size: 1.5em;
        position: absolute;
        right: 2%;
        top: 2%;
      }
    }
    .detail {
      .left {
        width: 60%;
      }
      .right {
        width: 40%;
      }
    }
  }

  /*dropzone*/
  .inputFile + label {
    width: 80%;
    margin-left: 10%;
  }
}