$theme-color: #505457;
$secondary-color: lightgrey;
$unihelp-white: #ffffff;
$unihelp-asphalt: #333a40;
$unihelp-grey: #2b2f33;
$unihelp-lightgrey: #505457;
$unihelp-black:  #000000;
$background-color: rgba(181, 212, 183, 0.2);
$download-button: #505457;
$grey: #505457;